<IfModule mod_rewrite.c>
    RewriteEngine On

    # If hosting does not allow setting DocumentRoot to /public,
    # redirect all traffic to the public front directory.
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>
