/* Шапка и бренд */
.logo-text {
    background: linear-gradient(90deg, #4f46e5, #ec4899);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header {
    background-color: #05299e;
}

.logo {
    color: #f4fff8;
}

.site-header-font {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
